@*Houda*@

@model EcoMobil.Models.ManagementService.Don

@{
    Layout = "_Layout";
   
}

<section class="page-section portfolio mt-5">

        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Formulaire de Don</h2>
            
            </div>
             <br>
                    <br>
            <div class="row justify-content-center">
             <div class="col-lg-8 col-xl-7">
   
     @using (Html.BeginForm())
    {        
       
             <div class="form-floating mb-3">
                       
                       @Html.TextBoxFor(m => m.Nom, new { @class = "form-control", placeholder = "Nom" })  
                       @Html.LabelFor(m => m.Nom)
                       @Html.ValidationMessageFor(m => m.Nom)
                   </div>
                   
             <div class="form-floating mb-3">
                       
                       @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control", placeholder = "Prénom" })  
                       @Html.LabelFor(m => m.Prenom)
                       @Html.ValidationMessageFor(m => m.Prenom)
                   </div>

            <div class="form-floating mb-3">
                         @Html.TextBoxFor(m=>m.Email , new { @class = "form-control", placeholder = "Email" })
                        @Html.LabelFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    
                      <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.Somme , new { @class = "form-control", placeholder = "Somme" })
                        @Html.LabelFor(m => m.Somme) 
                        @Html.ValidationMessageFor(m => m.Somme)
                    </div> 
                      <div class="form-floating mb-3">  
               @Html.ActionLink("j'ai lu et approuvée les conditions générales", "Conditions", "shared")
            </div>
               <button class="btn btn-primary btn-xl" type="submit" >Suivant</button>
         
           
           }
                