@*Yannick, Hamid*@

@model EcoMobil.ViewModels.SecretariatViewModel
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@{

    Layout = "_Layout";
    ViewBag.Title = "Secrétariat";
}
<style>
    th {
      cursor: pointer;
    }

    .scroll {
	
	    overflow: auto;
    }
/*
    tr:nth-child(odd) {
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: #C6E5E1;
    }*/
    a.my-class1 {
    color: #DF4848;
}
a.my-class {
    color: #1F618D;
}
</style>


@*
<div id="search-form">
    @Html.Action("Search", "Secretariat");  //GET action in controller that displays form
</div>
<div id="search-results">
</div>
*@
<br />
  <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Liste des services</h2>
            
            </div>




@using (Html.BeginForm("RechercheSecretariat", "Secretariat", FormMethod.Get))
{


    <form>
    <div class="row g-3 align-items-center  my-5">
<div class=" col align-self-auto">  
    <input type="text" name="type_service" class="form-control" placeholder="Type de service" aria-label="Type de service" aria-describedby="basic-addon1">
</div>
<div class=" col align-self-auto">  
    <input type="text" name="nom_contributeur" class="form-control" placeholder="Nom du contributeur" aria-label="Nom du contributeur" aria-describedby="basic-addon1">
</div>
<div class=" col align-self-auto"> 
    <input type="text"  name="etat_service" class="form-control" placeholder="Etat du service" aria-label=" Etat du service" aria-describedby="basic-addon1">
</div>
   
   <div class=" col align-self-auto">
       <button type="submit" value="Rechercher" class="btn " style="background-color:#1f74af  "  >Rechercher</button>
</div>
</div>

</form>
}


<div class="scroll">

<table id="myTable" class="table table-striped table-bordered table-hover">
    <tr style=" text-align : center">
        <th onclick="sortTable(0)">Date</th>
        <th onclick="sortTable(1)">Type de service</th>
        <th onclick="sortTable(2)">Nom du contributeur</th>
        <th onclick="sortTable(3)">Prénom du contributeur</th>
        <th onclick="sortTable(4)">Permis de conduire</th>
        <th onclick="sortTable(5)">Carte grise</th>
        <th onclick="sortTable(6)">Assurance</th>
        <th onclick="sortTable(7)">Contrôle technique</th>
        <th onclick="sortTable(8)">Etat</th>
    </tr>
    
    @foreach (var covoiturage in Model.Covoiturages )
    {   
        <tr>
            <td>@covoiturage.DateDeCreation.ToShortDateString()</td>
            <td>@covoiturage.Service.TypeService</td>
            <td>@covoiturage.Utilisateur.Nom</td>
            <td>@covoiturage.Utilisateur.Prenom</td>
            
             <td>
                <button onclick="document.getElementById('modal01').style.display='block'" class="w3-button w3-black">Détails</button>
            <div id="modal01" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/PermisDeConduire/PermisDeConduire1.jpg">
            </div>
            </td>
            <td>
                
             <button onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">Détails</button>
            <div id="modal02" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/CertificatDImmatriculation/CertificatDImmatriculation1.jpg">
            </div>

            </td>
            <td>
                  
             <button onclick="document.getElementById('modal03').style.display='block'" class="w3-button w3-black">Détails</button>
             <div id="modal03" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/Assurance/assuranceAuto1.jpg">
             </div>
              </td>
              <td>
            <button onclick="document.getElementById('modal04').style.display='block'" class="w3-button w3-black">Détails</button>
            <div id="modal04" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/ControleTechnique/controleTechnique1.jpg">
            </div>
            </td>
       
            <td>@covoiturage.Etat</td>
            <td>@Html.ActionLink("Publier", "PublierCovoiturage", "Secretariat", new { id = covoiturage.Id }, new { @class = "my-class" }) | @Html.ActionLink("Rejeter", "RejeterCovoiturage", "Secretariat", new { id = covoiturage.Id }, new { @class = "my-class1" })</td>
            
           <td><a style=" color:#DF4848;">&#128465; @Html.ActionLink("Supprimer", "SupprimerCovoiturage", "Service", new { id = covoiturage.Id, covoiturage.VehiculeId }, new { @class = "my-class1" }) </a></td>


        </tr>
    }
</table>
 </div>

 <hr />


<br /> 
 <div class="scroll">

<table id="myTable" class="table table-striped table-bordered table-hover">
    <tr style=" text-align : center">
        <th onclick="sortTable(0)">Date</th>
        <th onclick="sortTable(1)">Type de service</th>
        <th onclick="sortTable(2)">Nom du contributeur</th>
        <th onclick="sortTable(3)">Prénom du contributeur</th>
        <th onclick="sortTable(4)">Permis de conduire</th>
        <th onclick="sortTable(5)">Carte grise</th>
        <th onclick="sortTable(6)">Assurance</th>
        <th onclick="sortTable(7)">Contrôle technique</th>
        <th onclick="sortTable(8)">Etat</th>
    </tr>
    
    @foreach (var location in Model.Locations )
    {   
        <tr>
            <td>@location.DateDeCreation.ToShortDateString()</td>
            <td>@location.Service.TypeService</td>
            <td>@location.Utilisateur.Nom</td>
            <td>@location.Utilisateur.Prenom</td>
           
      <td>
                <button onclick="document.getElementById('modal01').style.display='block'" class="w3-button w3-black">Détails</button>
            <div id="modal01" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/PermisDeConduire/PermisDeConduire1.jpg">
            </div>
            </td>
            <td>
                
             <button onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">Détails</button>
            <div id="modal02" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/CertificatDImmatriculation/CertificatDImmatriculation1.jpg">
            </div>

            </td>
            <td>
                  
             <button onclick="document.getElementById('modal03').style.display='block'" class="w3-button w3-black">Détails</button>
             <div id="modal03" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/Assurance/assuranceAuto1.jpg">
             </div>
              </td>
              <td>
            <button onclick="document.getElementById('modal04').style.display='block'" class="w3-button w3-black">Détails</button>
            <div id="modal04" class="w3-modal  w3-animate-zoom" onclick="this.style.display='none'">
              <img class="w3-modal-content  " src="~/images/Justificatif/ControleTechnique/controleTechnique1.jpg">
            </div>
            </td>
            <td>@location.Etat</td>
            <td>@Html.ActionLink("Publier", "PublierLocation", "Secretariat", new { id = location.Id }, new { @class = "my-class" }) | @Html.ActionLink("Rejeter", "RejeterLocation", "Secretariat", new { id = location.Id }, new { @class = "my-class1" })</td>
         
            
            <td><a style=" color:#DF4848;" >&#128465; @Html.ActionLink("Supprimer", "SupprimerLocation", "Service", new { id = location.Id, location.VehiculeId }, new { @class = "my-class1" }) </a></td>
           

        </tr>
    }
</table>
 </div>


  <hr />

  <br /> 
 <div class="scroll">

<table id="myTable" class="table table-striped table-bordered table-hover">
    <tr style=" text-align : center">
        <th onclick="sortTable(0)">Date</th>
        <th onclick="sortTable(1)">Type de service</th>
        <th onclick="sortTable(2)">Nom du contributeur</th>
        <th onclick="sortTable(3)">Prénom du contributeur</th> 
        <th onclick="sortTable(4)">Taille de colis </th>
        <th onclick="sortTable(5)">Prix </th>
         <th onclick="sortTable(6)">Etat </th>
    </tr>
    
    @foreach (var  colis in Model.LesColis )
    {   
        <tr>
            <td>@colis.DateDeCreation.ToShortDateString()</td>
            <td>@colis.Service.TypeService</td>
            <td>@colis.Utilisateur.Nom</td>
            <td>@colis.Utilisateur.Prenom</td>
             <td>@colis.TailleColis</td>
              <td>@colis.Prix</td>
               <td>@colis.Etat</td>

            <td>@Html.ActionLink("Publier", "PublierColis", "Secretariat", new { id = colis.Id }, new { @class = "my-class" }) | @Html.ActionLink("Rejeter", "RejeterColis", "Secretariat", new { id =colis.Id }, new { @class = "my-class1" })</td>
         
            

            <td><a style=" color:#DF4848;" >&#128465; @Html.ActionLink("Supprimer", "SupprimerUnColis", "Service", new { id = colis.Id}, new { @class = "my-class1" }) </a></td>

        </tr>
    }
</table>
 </div>


<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>