@model EcoMobil.ViewModels.SecretariatViewModel
@{
    Layout = "_layout";
    ViewBag.Title = "Liste des services";
}
<link rel="stylesheet" type="text/css" href="~/css/profil.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<style>
    th {
        cursor: pointer;
    }

    .scroll {
        height: 50%;
        overflow: auto;
    }

    tr:nth-child(odd) {
        background-color: #e4f2f7;
    }
     
    a.my-class1 {
        color: #DF4848;
    
    }

    a.my-class {
        color: #1F618D;
    }

     a.my-class2 {
        color: #F4D03F;
    }
</style>

<div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mes services</h2>
            
            </div>
             <br /> <br />
@if (@Model.CovoituragesContributeur.Count != 0)
{
     
    <div class="scroll">
        <table id="myTable" class="table table-striped table-hover">
            <tr>
                <th onclick="sortTable(0)">Place(s) disponible(s)</th>
                <th onclick="sortTable(1)">Lieu de départ</th>
                <th onclick="sortTable(2)">Date de départ</th>
                <th onclick="sortTable(3)">Heure de départ</th>
                <th onclick="sortTable(4)">Lieu d'arrivée</th>
                <th onclick="sortTable(5)">Prix par place</th>
                <th onclick="sortTable(6)">Etat</th>
                <th onclick="sortTable(7)">Passagers</th>
            </tr>
            @foreach (var covoiturage in Model.CovoituragesContributeur)
            {
                <tr>
                    <td>@covoiturage.PlaceDisponible</td>
                    <td>@covoiturage.LieuDeDepart</td>
                    <td>@covoiturage.DateDeDepart.ToShortDateString()</td>
                    <td>@covoiturage.HeureDeDepart</td>
                    <td>@covoiturage.LieuDArrivee</td>
                    <td>@covoiturage.Prix</td>
                    <td>@covoiturage.Etat</td>
                    <td>
                        <div class="w3-container">
                            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Détail</button>

                            <div id="id01" class="w3-modal">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <p>
                                            <h3>Liste des passagers :</h3>
                                            <div class="scroll">
                                                <table id="myTable" class="table table-striped  table-hover">
                                                    <tr>
                                                        <th onclick="sortTable(0)">Date de réservation</th>
                                                        <th onclick="sortTable(1)">Nom</th>
                                                        <th onclick="sortTable(2)">Prénom</th>
                                                        <th onclick="sortTable(3)">Etat</th>
                                                    </tr>
                                                    @foreach (var reservation in Model.ReservationsConsommateurs.Where(rc => rc.CovoiturageId == covoiturage.Id))
                                                    {
                                                        <tr>
                                                            <td>@reservation.Date</td>
                                                            <td>@reservation.Utilisateur.Nom</td>
                                                            <td>@reservation.Utilisateur.Prenom</td>
                                                            <td>@reservation.Etat</td>
                                                            <td>@Html.ActionLink("Accepter", "AccepterReservation", "Service", new { id = reservation.Id }) | @Html.ActionLink("Refuser", "RefuserReservation", "Service", new { id = reservation.Id })</td>
                                                            
                                                        </tr>
                                                  
                                                    }
                                                </table>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center"><a style=" color:#1F618D;" >&#x270E;@Html.ActionLink("Modifier", "ModifierCovoiturage", "Service", new { id = @covoiturage.Id }, new {@class ="my-class"}) </a></td>
                    <td><a style=" color:#DF4848;">&#128465; @Html.ActionLink("Supprimer", "SupprimerCovoiturage", "Service", new { id = covoiturage.Id}, new { @class = "my-class1" }) </a></td>
                </tr>
            }
        </table>
    </div>
}



@*<br>
<h3>Locations</h3>
<div class="scroll">
    <table id="myTable" class="table table-striped table-hover">

        <tr>
            <th onclick="sortTable(0)">Id</th>
            <th onclick="sortTable(1)">Disponible dès le</th>
            <th onclick="sortTable(2)">Lieu de dépot</th>
            <th onclick="sortTable(3)">Prix par J</th>
            <th onclick="sortTable(4)">Modele</th>
            <th onclick="sortTable(5)">date d'expiration de controle technique</th>
            <th onclick="sortTable(6)">Etat</th>
        </tr>
        @foreach (var location in Model.LocationsContributeur)
        {
            <tr>
                <td>@location.Id</td>
                <td>@location.Disponible</td>
                <td>@location.LieuDeDepot</td>
                <td>@location.PrixParJour</td>
                <td>@location.Vehicule.Modele</td>
                <td>@location.Vehicule.ControleTechnique</td>
                <td>@location.Etat</td>
                <td>
                    <div class="w3-container">
                        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Détail</button>

                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content">
                                <div class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <p>@Html.Partial("Details", Model)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>@location.Etat</td>
                <td align="center"><a style=" color:#1F618D;" >&#x270E;@Html.ActionLink("Modifier", "ModifierLocation", "Service", new { id = @location.Id })</a></td>
            </tr>
        }
    </table>
</div>
        <br />

        <br>
<h3>Livraisons</h3>
<div class="scroll">
    <table id="myTable" class="table table-striped table-hover">

        <tr>
            <th onclick="sortTable(0)">Id</th>
            <th onclick="sortTable(1)">Date de collecte</th>
            <th onclick="sortTable(2)">Lieu de collecte</th>
            <th onclick="sortTable(3)">Heure de collecte</th>
            <th onclick="sortTable(4)">Taille de colis</th>
            <th onclick="sortTable(5)">Prix</th>
            <th onclick="sortTable(6)">Etat</th>
        </tr>
        @foreach (var colis in Model.ColisContributeur)
        {
            <tr>
                <td>@colis.Id</td>
                <td>@colis.DateDeCollecte</td>
                <td>@colis.LieuDeCollecte</td>
                <td>@colis.HeureDeCollecte</td>
                <td>@colis.TailleColis</td>
                <td>@colis.Prix</td>
                <td>@colis.Etat</td>
                <td>
                    <div class="w3-container">
                        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Détail</button>

                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content">
                                <div class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <p>@Html.Partial("Details", Model)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>@colis.Etat</td>
                <td align="center">@Html.ActionLink("Modifier", "ModifierColis", "Service", new { id = @colis.Id })</td>
            </tr>
        }
    </table>
</div>*@

@*<h3>Liste de mes consommations :</h3>*@
@*<h3>Locations </h3>
<div class="scroll">
    <table id="myTable" class="table table-striped  table-hover">

        <tr>
            <th onclick="sortTable(0)">Id</th>
            <th onclick="sortTable(1)">Disponible dès le</th>
            <th onclick="sortTable(2)">Lieu de dépot</th>
            <th onclick="sortTable(3)">Prix par J</th>
            <th onclick="sortTable(4)">Modele</th>
            <th onclick="sortTable(5)">date d'expiration de controle technique</th>

            <th onclick="sortTable(6)">Etat</th>
        </tr>
        @foreach (var reservation in Model.ReservationsContributeur)
        {
            <tr>
                <td>@reservation.Id</td>
                <td>@Model.Locations.FirstOrDefault(c => c.Id == reservation.LocationId).Service.TypeService</td>
                <td>@reservation.Location.Disponible</td>
                <td>@reservation.Location.LieuDeDepot</td>
                <td>@reservation.Location.PrixParJour</td>
                <td>@reservation.Location.Vehicule.Modele</td>
                <td>@reservation.Covoiturage.Vehicule.ControleTechnique</td>

                <td>@reservation.Etat</td>
                @if (!reservation.Etat.Equals("Payée"))
                {
                    <td align="center">@Html.ActionLink("Annuler", "AnnulerReservation", "Service", new { id = @reservation.Id })</td>
                }
                @if (reservation.Etat.Equals("Acceptée"))
                {
                    <td align="center">@Html.ActionLink("Payer", "PayerService", "Service", new { id = @reservation.Id })</td>
                }
            </tr>
        }
    </table>
</div>
<br />*@
 <br />
  <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mes réservations</h2>
            
            </div>
            <br /> <br />
@if (@Model.ReservationsContributeur.Count != 0)
{
    <h3>Covoiturages</h3>
    <div class="scroll">
        <table id="myTable" class="table table-striped  table-hover">
            <tr>
                <th onclick="sortTable(0)">Place(s) disponible(s)</th>
                <th onclick="sortTable(1)">Lieu de départ</th>
                <th onclick="sortTable(2)">Date de départ</th>
                <th onclick="sortTable(3)">Heure de départ</th>
                <th onclick="sortTable(4)">Lieu d'arrivée</th>
                <th onclick="sortTable(5)">Le Prix par place</th>
                <th onclick="sortTable(6)">Etat</th>
            </tr>
            @foreach (var reservation in Model.ReservationsContributeur)
            {
                <tr>
                    <td>@reservation.Covoiturage.PlaceDisponible</td>
                    <td>@reservation.Covoiturage.LieuDeDepart</td>
                    <td>@reservation.Covoiturage.DateDeDepart</td>
                    <td>@reservation.Covoiturage.HeureDeDepart</td>
                    <td>@reservation.Covoiturage.LieuDArrivee</td>
                    <td>@reservation.Covoiturage.Prix</td>
                    <td>@reservation.Etat</td>
                    @if (!reservation.Etat.Equals("Payée"))
                    {
                        <td align="center"><a style="color:#DF4848;">&#128465; @Html.ActionLink("Annuler", "AnnulerReservation", "Service", new { id = reservation.Id },  new { @class = "my-class1" })</a></td>
                    }
                    @if (reservation.Etat.Equals("Acceptée"))
                    {
                        <td align="center"><a style="color:#1F618D;">&#9745; @Html.ActionLink("Payer", "PayerService", "Tresorerie", new { id = @reservation.Id }, new { @class = "my-class" })</a></td>
                    }
                    <td align="center"> <a style="color:#F4D03F;">&#9993; @Html.ActionLink("Contacter", "EnvoyerMessage", "Secretariat", new { IdDestinataire = @Model.Covoiturages.FirstOrDefault(c => c.Id == reservation.CovoiturageId).UtilisateurId }, new { @class = "my-class2" })</a></td>

                </tr>
            }
        </table>
    </div>
}


<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>