@*Houda*@

@using static EcoMobil.Models.ManagementService.Vehicule
@model EcoMobil.Models.ManagementService.Location

@{
    Layout = "_Layout";
   
}

<section class="page-section portfolio mt-5">

        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Formulaire de Location de Véhicule</h2>
            
            </div>
              <br>
                    <br>
            <div class="row justify-content-center">
             <div class="col-lg-8 col-xl-7">
   
     @using (Html.BeginForm())
    {          
            @Html.HiddenFor(m=>m.VehiculeId)
        @Html.HiddenFor(m=>m.Id)

         <div class="form-floating mb-3">
                        
                         @Html.DropDownListFor(m => m.Vehicule.Marque, new SelectList(Enum.GetValues(typeof(MarqueType))),"---------------Choisir une Marque--------------------", new {@class = "form-control"})  
                        @Html.ValidationMessageFor(m => m.Vehicule.Marque)
                    </div>
 
            <div class="form-floating mb-3">
                       @Html.TextBoxFor(m => m.Vehicule.Modele, new { @class = "form-control", placeholder = "Modele" })  
                       @Html.LabelFor(m => m.Vehicule.Modele)
                       @Html.ValidationMessageFor(m => m.Vehicule.Modele)
            </div>
              <br>
                       
            <div class="form-floating mb-3">
                <div class ="row">
                    <div class="column">
                         @Html.LabelFor(m => m.Vehicule.Automatique  ) </div>
                      <div class="column">
                        @Html.CheckBoxFor(m=>m.Vehicule.Automatique )</div> 
                 </div>
              </div>
              
              <br> 
            <div class="form-floating mb-3">
                <div class ="row">
                    <div class="column">  
                        @Html.LabelFor(m => m.Vehicule.Electrique) 
                        </div>
                    <div class="column">
                        @Html.CheckBoxFor(m => m.Vehicule.Electrique)
                        @Html.ValidationMessageFor(m => m.Vehicule.Electrique)
                    </div> 
                </div>
            </div>
            
            <div class="form-floating mb-3">
                         @Html.TextBoxFor(m => m.Vehicule.nombreDePortes, new { @class = "form-control",  placeholder = "Nombre de portes"})  
                        @Html.LabelFor(m => m.Vehicule.nombreDePortes)
                        @Html.ValidationMessageFor(m => m.Vehicule.nombreDePortes)
            </div>

            <div class="form-floating mb-3">
                       @Html.TextBoxFor(m => m.Vehicule.ControleTechnique, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", id="myDate",type = "date"})  
                        @Html.LabelFor(m => m.Vehicule.ControleTechnique)
                       @Html.ValidationMessageFor(m => m.Vehicule.ControleTechnique)
             </div>

             <div class="form-floating mb-3">
                       @Html.TextBoxFor(m => m.Disponible,"{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", id="myDate",type = "date"})  
                       @Html.LabelFor(m => m.Disponible)
                       @Html.ValidationMessageFor(m => m.Disponible)
            </div>

             <div class="form-floating mb-3">
                       @Html.TextBoxFor(m => m.LieuDeDepot, new { @class = "form-control", placeholder = "Heure de départ 'HH:mm' " })  
                       @Html.LabelFor(m => m.LieuDeDepot)
                       @Html.ValidationMessageFor(m => m.LieuDeDepot)
            </div>
                  
                 

            <div class="form-floating mb-3"> 
                         @Html.TextBoxFor(m => m.PrixParJour, new { @class = "form-control", placeholder = "Prix Pour 12h" })
                          @Html.LabelFor(m => m.PrixParJour)
                          
                          @Html.ValidationMessageFor(m => m.PrixParJour)
            </div>

             <div class="form-floating mb-3">      
                          @Html.TextBoxFor(m => m.Description,new { @class = "form-control", placeholder = "Description , conditions, informations supplémentaires" })
                          @Html.LabelFor(m => m.Description)
                            @Html.ValidationMessageFor(m => m.Description)
             </div>
                            <div class="form-floating mb-3">  
               @Html.ActionLink("j'ai lu et approuvée les conditions générales", "Conditions", "shared")
            </div>

             <button class="btn btn-primary btn-xl" type="submit" >Valider</button>
           
           }
            </div>
            </div>
        </div>
    </section>